<div class="">
  <form [formGroup]="createTeamForm" (ngSubmit)="createTeam()" class="create-team">
    <div class="modal-body">
      <div class="teams-name">
        <label for="name">Name</label>
        <input formControlName="name" type="text" class="form-control" placeholder="Name..." required>
      </div>
      <p class="danger-color font-bold">*Assign user's email - * = required </p>
      <div class="user-name">
        <fieldset formArrayName="users">
          <div class="form-group row" *ngFor="let user of createTeamForm.get('users').controls; let i = index;" [formGroup]="user">
            <div class="col-sm-10">
              <label [attr.for]="'email'+i">Email</label>
              <input formControlName="email" [attr.id]="'email'+i" type="text" class="form-control" placeholder="User's email..." required>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn" (click)="createTeamForm.get('users').removeAt(i)">-</button>
            </div>
          </div>
        </fieldset>
        <button type="button" class="btn btn-link" (click)="createTeamForm.get('users').push(buildItem(''))">Add another team</button>
      </div>

    </div>
    <div class="modal-footer">
      <div class="left-side">
        <button type="button" (click)="createTeam()" class="create-team-confirm btn btn-default btn-link">Create Team</button>
      </div>
      <div class="divider"></div>
      <div class="right-side">
        <button type="button" class="btn btn-default btn-link" (click)="activeModal.close()">Never mind</button>
      </div>
    </div>
  </form>
</div>
