<div class="">
  <form [formGroup]="createTeamForm" (ngSubmit)="createTeam()" class="create-team">
    <div class="modal-body">
      <div class="teams-name">
        <label for="name">Name</label>
        <input formControlName="name" type="text" class="form-control" placeholder="Name..." required>
        <div class="alert" *ngIf="!createTeamForm.controls['name'].valid && createTeamForm.controls['name'].touched">
          <span *ngIf="createTeamForm.controls['name'].hasError('required') ">{{ genericError }} </span>
          <span *ngIf="createTeamForm.controls['name'].hasError('minlength') "> {{ minLenName }} </span>
          <span *ngIf="createTeamForm.controls['name'].hasError('maxLength') "> {{ maxLength }} </span>
        </div>
      </div>
      <p class="danger-color font-bold">*Assign user's email - * = required </p>
      <div class="user-name">
        <fieldset formArrayName="users">
          <div class="form-group row" *ngFor="let user of createTeamForm.get('users').controls; let i = index;" [formGroup]="user"
            required>
            <div class="col-sm-10">
              <label [attr.for]="'email'+i">Email</label>
              <input formControlName="email" [attr.id]="'email'+i" type="text" class="form-control" placeholder="User's email..." required>
              <div class="alert" *ngIf="!createTeamForm.get('users').at(i).get('email').valid && createTeamForm.get('users').at(i).get('email').touched">
                <span *ngIf="createTeamForm.get('users').at(i).get('email').hasError('required') "> {{ genericError }} </span>
              </div>
            </div>
          </div>
        </fieldset>
        <button type="button" class="btn icon-btn btn-success btn-round " (click)="createTeamForm.get('users').push(buildItem(''))">
          <i class="fa fa-plus"></i> Add </button>
        <button type="button" class="btn icon-btn btn-danger btn-round " (click)="createTeamForm.get('users').removeAt(i)">
          <i class="fa fa-trash"></i> Del </button>
      </div>
    </div>
    <div class="modal-footer">
      <div class="left-side">
        <button type="button" (click)="createTeam()" [disabled]="!createTeamForm.valid" class="create-team-confirm btn btn-default btn-link">Create Team</button>
      </div>
      <div class="divider"></div>
      <div class="right-side">
        <button type="button" class="optional-color btn btn-default btn-link" (click)="activeModal.close()">Never mind</button>
      </div>
    </div>
  </form>
</div>
