@import "../../../../../assets/sass/mixins/_breaking.point.scss";

.comments-box {
    margin-bottom: 32px;

    .comment-content {
        box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
        background-color: white;
        border-radius: 6px;
        padding: 12px;
    }

    .comment-avatar {
        img {
            width: 80px;
            height: auto;
            max-width: 100%;
            border-radius: 50%;
            margin: 10px auto;

            @include mobile {
                display: block;
                margin: 10px auto;
            }
        }
    }
}

.comment-body {
    background-color: #FFF;
    margin: 10px 5px;
    border-radius: 5px 5px; 
    p {
        margin: 16px 10px;
    }
}
