<!-- <footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav navbar-nav ml-auto">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="Star on GitHub" data-placement="bottom" href="https://github.com/zhnedyalkow/Ticketing-system-client"
                            target="_blank">
                            <i class="fa fa-github"></i>
                            <p class="d-lg-none">GitHub</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="documentation/tutorial-components.html" target="_blank" class="nav-link">
                            <i class="nc-icon nc-book-bookmark"></i> Documentation</a>
                    </li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with
                    <i class="fa fa-heart heart"></i> by Tele-Ticket Team
                </span>
            </div>
        </div>
    </div>
</footer> -->