.panel-default > .panel-heading {
    background-color: #51bcda;
    border-radius: 5px 5px 0px 0px;
    color: #fff;
    text-align: center;
}

.members-content {
    max-height: 50px;
    overflow: auto;
}

.ticket-content {
    max-height: 50px;
    overflow: auto;
}

.task-header {
    text-align: center;
    font-weight: bold;
}

.status {
    font-weight: bold;
}

.team-header {
    text-align: center;
}

.ticket-container {
    max-height: 550px;
    overflow: auto;

    .panel {
        margin-top: 16px;

        &:first-child{
            margin-top: 0px;
        }
    }
}