
.header-page {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    h3 {
        text-transform: uppercase;
    }
}

.container {
    h5 {
        margin-bottom: 40px;
    }
}

.members-content {
    max-height: 400px;
    overflow: auto;
}

.btn-box {
    margin-right: 10px;
}