.panel-default>.panel-heading {
  background-color: #51bcda;
  border-radius: 5px 5px 0px 0px;
  color: #fff;
  text-align: center;
}

.panel-font-bold {
    font-weight: bold;
    margin: 0px 10px;
}

.ticket-info-box {
  display: inline-block;
  vertical-align: top;

  p {
    display: inline-block;
  }

  .ticket-content {
    font-weight: bold;
    margin: 20px 10px;
  }
}

.ticket-header {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.header-page {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.members-content {
  max-height: 50px;
  overflow: auto;
}
