<app-btns *ngIf="amIGM" [teamName]="teamName" [usersOfTeam]="usersOfTeam"></app-btns>

<div class="header-page">
    <h3 class="text-center font-bold">{{ teamName }}</h3>
</div>

<div class="container">
    <h5 class="text-center font-bold">
        <i class="fa fa-info-circle"></i> Information about the team</h5>
    <div class="row">

        <div class="col-xl-7 col-lg-12">
            <app-team-info [teamsTickets]="teamsTickets"></app-team-info>
        </div>

        <div class="col-xl-5 col-lg-12">
            <app-team-members [usersOfTeam]="usersOfTeam"></app-team-members>
        </div>
    </div>
</div>
