<div class="my-tickets-box ">
    <div class="row">
        <div class="avatar text-center col-md-12 col-xl-4">
            <img src="../../assets/img/ticket.jpg" alt="" width="100" height="100" class="avatar">
        </div>
        <div class="my-tickets-info col-md-12 col-xl-8">
            <div *ngIf="ticket">
                <h5 class="text-center">
                    <i class="fa fa-ticket"></i> {{ ticket?.title }}</h5>
                <ul>
                    <li>
                        <span>
                            <i class="fa fa-check"></i> Status:
                                 {{ ticket?.Status.name }}
                        </span>
                    </li>

                </ul>
                <ul>
                    <li>
                        <i class="fa fa-plus"></i>Assignee: <span >
                             <span class="warning-color" > {{ ticket?.AssignedUser?.name }} </span>
                        </span>
                    </li>
                    <li>
                        <i class="fa fa-user"></i> Raised by: 
                        <span>
                             <!-- Yavor Stoychev -->
                            {{ ticket?.Creator?.name }}
                        </span>
                    </li>
                </ul>
                <ul>
                    <li>
                            <i class="fa fa-refresh"></i>  Updated: 
                        <span>
                           {{ ticket?.updatedAt | date: 'dd/MM/yyyy'}} {{ ticket?.updatedAt | date: 'HH:mm'}}
                        </span>
                    </li>
                    <li>
                        <i class="fa fa-calendar"></i> Due date:
                        <span class="date">
                            {{ ticket?.dueDate | date: 'dd/MM/yyyy'}} {{ ticket?.dueDate | date: 'HH:mm'}}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
