<div class="wrapper">
    <div class="page-header">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                        <div class="card card-register">
                            <h3 class="title">Register</h3>
                            <form class="register-form">
                                <label><i class="	fa fa-user-o"></i> Name</label>
                                <input type="text" class="form-control" placeholder="Name">

                                <label><i class="fa fa-envelope"></i> Email</label>
                                <input type="text" class="form-control" placeholder="Email">

                                <label><i class="fa fa-key"></i> Password</label>
                                <input type="password" class="form-control" placeholder="Password">

                                <label><i class="fa fa-exclamation-triangle"></i> Verify Password</label>
                                <input type="password" class="form-control" placeholder="Verify Password">
                                <button class="btn btn-danger btn-block btn-round">Create an account</button>
                            </form>
                            <div class="forgot">
                                <a href="/login" class="btn btn-link btn-danger">You already have an account?</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer register-footer text-center">
                    <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Tele-Ticket Team</h6>
                </div>
            </div>
    </div>
</div>
