<nav class="navigation navbar navbar-expand-md bg-primary">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    <span class="navbar-toggler-icon"></span>
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">Menu</a>
  <div class="collapse navbar-collapse" id="navbar-menu">
    <ul class="navbar-nav ml-auto">
      <li class="create-tm-btn nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#myModal1">
          <i class="fa fa-users"></i> Create Team </a>
        <!-- Team Modal -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">
                  <i class="fa fa-users"></i> Create Team</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <!-- Create Team Form -->
              <form [formGroup]="createTeamForm" (ngSubmit)="createTeam()" class="create-team">
                <div class="modal-body">
                    
                  <div class="teams-name">
                    <input formControlName="name" type="text" class="form-control" placeholder="Teams's name..." required>
                  </div>

                  <p class="danger-color font-bold">*Assign user's email - * = required </p>
                  <div class="user-name">
                    <fieldset formArrayName="users">
                      <div class="form-group row" *ngFor="let user of createTeamForm.get('users').controls; let i = index;" [formGroup]="user">
                        <div class="col-sm-10">
                          <label [attr.for]="'email'+i">Email</label>
                          <input formControlName="email" [attr.id]="'email'+i" type="text" class="form-control" placeholder="User's email..." required>
                        </div>
                        <div class="col-sm-2">
                          <button type="button" class="btn" (click)="createTeamForm.get('users').removeAt(i)">-</button>
                        </div>
                      </div>
                    </fieldset>
                    <button type="button" class="btn btn-link" (click)="createTeamForm.get('users').push(buildItem(''))">Add another item</button>
                  </div>
                  <!-- End Team Form -->
                </div>
                <div class="modal-footer">
                  <div class="left-side">
                    <button type="submit" data-dismiss="" class="create-team-confirm btn btn-default btn-link">Create Team</button>
                  </div>
                  <div class="divider"></div>
                  <div class="right-side">
                    <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Never mind</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </li>

      <li class="create-ticket-btn nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#myModal2">
          <i class="fa fa-bug"></i> Create issue </a>
        <!-- Ticket Modal -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">

              <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">
                  <i class="fa fa-bug danger-color"></i> Create issue</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              
              <!-- Create Ticket Form -->
              
              <!-- <div class="modal-body">
              <form [formGroup]="createFormTicket" (ngSubmit)="createTicket()">

                  <div class="ticket-title">
                    <input formControlName="title" type="text" class="form-control" placeholder="Title..." required>
                  </div>

                  <div class="ticket-description">
                    <textarea formControlName="description" class="form-control" rows="4" placeholder="Description..." required></textarea>
                  </div>

                  <div class="ticket-label">
                    <input formControlName="label" type="text" class="form-control" placeholder="Label..." required>
                  </div>

                  <div class='datetimepicker input-group date' id='datetimepicker'>
                    <input type='text' class="form-control datetimepicker" placeholder="05/08/2017" required/>
                  </div>

                  <div class="users-email">
                    <p class="danger-color font-bold">*As`user's email - * = required </p>
                    <input type="text" class="form-control" placeholder="User's email..." required>
                  </div>
                </form> -->

                <!-- End Ticket Form -->
              <!-- </div>
              <div class="modal-footer">
                <div class="left-side">
                  <button type="button" class="btn btn-default btn-link">Create issue</button>
                </div>
                <div class="divider"></div>
                <div class="right-side">
                  <button type="button" class="btn btn-default btn-link" data-dismiss="modal">Never mind</button>
                </div>
              </div> -->

            </div>
          </div>
        </div>
      </li>

      <li class="nav-item ">
        <div ngbDropdown class="d-inline-block dropdown">
          <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
            <i class="fa fa-check"></i> Welcome, Zhitomir</a>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
            <a class="dropdown-item" (click)="logoutUser()">
              <i class="fa fa-sign-out"></i> Log out</a>
          </div>
        </div>
      </li>

    </ul>
  </div>
</nav>

<div class="container-box">
  <app-user-menu [userInfo$]='userInfo$'></app-user-menu>
  <div class="content has-menu">
    <router-outlet></router-outlet>
  </div>
</div>
