<div class="wrapper">
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
          <div class="card card-register">
            <h3 class="title">Login</h3>
            <form [formGroup]="rForm" (ngSubmit)="loginUser()" class="register-form">
              <label>
                <i class="fa fa-envelope"></i> Email
              </label>
              <input formControlName="email" type="text" class="form-control" placeholder="Email" required>
              <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">
                <span *ngIf="rForm.controls['email'].hasError('required') "> {{ genericErrorMsg }} </span>
                <span *ngIf="rForm.controls['email'].hasError('minlength') "> {{ genMinLengthMsg }} </span>
                <span *ngIf="rForm.controls['email'].hasError('pattern') "> {{ emailErrMsg }} </span>
              </div>
              <label>
                <i class="fa fa-key"></i> Password</label>
              <input formControlName="password" type="password" class="form-control" placeholder="Password" required>
              <div class="alert" *ngIf="!rForm.controls['password'].valid && rForm.controls['password'].touched">
                <span *ngIf="rForm.controls['password'].hasError('required') "> {{ genericErrorMsg }} </span>
                <span *ngIf="rForm.controls['password'].hasError('minlength') "> {{ genMinLengthMsg }} </span>
                <span *ngIf="rForm.controls['password'].hasError('maxlength') "> {{ genMaxLengthMsg }} </span>
              </div>
              <button class="btn btn-danger btn-block btn-round" [disabled]="!rForm.valid">Login</button>
            </form>
            <div class="forgot">
              <a [routerLink]="['/register']" class="btn btn-link btn-danger">You don't have an account?</a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer register-footer text-center">
        <h6>&copy;{{date | date: 'yyyy'}}, made with
          <i class="fa fa-heart heart"></i> by Tele-Ticket Team</h6>
      </div>
    </div>
  </div>
</div>