<router-outlet></router-outlet>

<form [formGroup]="adminForm" (ngSubmit)="AddUserToCompany()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
  </div> 
  <button type="submit" class="btn btn-primary">Add</button>
</form>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Admin panel</div>

  <!-- Table -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">CreatedAt</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Zhitomir Oreshenski </td>
        <td>zh.nedyalkow@gmail.com</td>
        <td>20.10.1995</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob Thornton</td>
        <td>zh.nedyalkow@gmail.com</td>
        <td>20.10.1995</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Jacob Thornton</td>
        <td>zh.nedyalkow@gmail.com</td>
        <td>20.10.1995</td>
      </tr>
    </tbody>
  </table>
</div>
