// /* You can add global styles to this file, and also import other style files */
@import "./assets/sass/mixins/_breaking.point.scss";

body {
    background-color: #f5f5f5;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.warning-color {
    color: orange;
}

.optional-color {
    color: green;
}

.danger-color {
    color: red;
}

.font-bold {
    font-weight: bold;
}

.main-color {
    color: #6dd3d6;
}

// i {
//     color: #0abfc5;
// }

// i.fa-user {
//     color: #0abfc5;
// }

// i.fa-calendar {
//     color: #6dd3d6;
// }

// i.fa-check {
//     color: green;
// }

.alert {
    background: red;
    padding: 7px;
    font-size: .9em;
    margin: 10px 0px 0px;
    border-radius: 5px !important;
    display: block;
    animation: 2s alertAnim forwards;
}

@keyframes alertAnim {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}