.manu-user-left {
    width: 190px;
    position: absolute;
    top: 71px;
    left: 0;
    height: calc(100% - 71px);
    background-color: #263238;
    text-align: center;
    padding: 40px 0px;

    img {
        display: inline-block;

        &.avatar {
            border-radius: 50%;
        }
    }

    h5 {
        color: white;
        font-weight: bold;
        margin-top: 16px;
        font-size: 16px;
    }

    .user-info {
        padding-bottom: 40px;
        border-bottom:1px solid rgba(255, 255, 255, 0.6);

        p {
            color: white;
            font-weight: bold;
        }
    }

    .user-menu-nav ul {
        display: block;
        margin: 20px auto 0;
        list-style-type: none;
        padding: 0px;
        cursor: pointer;

        li {
            text-align: center;
            padding: 10px;
            color: white;
            font-weight: bold;
            text-align: left;
            transition: all 0.3s ease;

            &:hover {
                color: #6dd3d6;
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
    }
}
