.error-template {
    padding: 40px 15px;
    text-align: center;
    color: white;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-top: 32px;
    margin-right: 10px;
}