<nav class="navigation navbar navbar-expand-md bg-primary">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <a class="navbar-brand" href="#">Menu</a>
        <div class="collapse navbar-collapse" id="navbar-menu">
          <ul class="navbar-nav ml-auto">
            <li class="create-tm-btn nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#myModal1">
                <i class="fa fa-users"></i> Create Team </a>
              <!-- Team Modal -->
              <app-create-team></app-create-team>
            </li>
      
            <li class="create-ticket-btn nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#myModal2" >
                <i class="fa fa-bug"></i> Create issue </a>
                <!-- Ticket Modal -->
                <app-create-ticket></app-create-ticket>
            </li>
      
            <li class="nav-item ">
              <div ngbDropdown class="d-inline-block dropdown">
                <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
                  <i class="fa fa-check"></i> Welcome, Zhitomir</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                  <a class="dropdown-item">
                    <i class="fa fa-list"></i> My panel</a>
                  <a class="dropdown-item" (click)="logoutUser()">
                    <i class="fa fa-sign-out"></i> Log out</a>
                </div>
              </div>
            </li>
      
          </ul>
        </div>
      </nav>