<div class="my-teams-box ">
    <div class="row">
        <div class="avatar text-center col-md-12 col-xl-4">
            <img src="../../assets/img/team.png" alt="teamIcon" width="100" height="100" class="avatar">
        </div>
        <div class="my-teams-info col-md-12 col-xl-8">
            <h5 class="text-center">{{ team?.name }}</h5>
            <ul>
                <li>
                    <i class="fa fa-users"></i>
                    Members: {{team?.members}}
                </li>
                <li>
                    <i class="fa fa-user"></i>
                    Manager: <span class="neutral-color">{{team?.TeamManager.name  | capitalizeFirst}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
