
  /* coments section */
  .comments-box {
    margin-top: 32px;
    
    .comment-content {
      box-shadow: 0 1px 3px rgba(0,0,0,.1);
      background-color: #FFF;
      border-radius: 6px;
      padding: 12px;
    }
  
    &:first-child {
      margin-top: 0px;
    }
  
    .comment-avatar {
      img {
        width: 80px;
        height: auto  ;
      }
    }
  }
  